body{
  font-size: 1.1em;
  margin-left: 7%;
}
.card {
  display: inline-block;
  border: 1px solid lightblue;
  width: 30%;
  height: 595px;
  background-color: azure;
  margin: 1% 2% 1% 0;
  float: left;
}

.name {
  border: 1px dotted lightblue;
  padding: 2%;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

img {
  display: block;
  padding-top: 2%;
  height: 5%;
  width: 30%;
  margin: 0 auto;
}

.description {
  text-align: justify;
  padding: 0 1% 0 1%;
}

.info {
  font-weight: bold;
  margin-left: 2%;

}

.info header {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.25em;
}

.availability {
  width: 100%;
  background-color: #a9a9a9;
  color: #FFFF00;
}

.info footer {
  font-weight: normal;
}

.info span {
  padding: 1.2%;
}